html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #F2E3D0;
}
h1 {
    background-color: #13171C;
    font-size: 2rem;
    padding: 2rem 3rem;
    color: #BF472C;
}
h2 {
    color: #BF472C;
}
a {
    color: #BF472C;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #BF472C;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 4rem;
}
nav a:hover {
    color: #F3D290;
}
section {
    padding: 0 5rem 0 5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-flow: column nowrap;
}
article img {
    float: left;
    margin: 1.5rem 3rem 2rem 0;
}
article p {
    line-height: 1.8rem;
    font-size: 1.2rem;
}
article a {
    color: #F1BF5B;
}
article a:hover {
    color: #BF472C;
}
section:after {
    content: "";
    display: table;
    clear: both;
}
.secondsection {
    margin-bottom: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-flow: row nowrap;
}
.threethings {
    flex-basis: 40%;
}
.threethings li {
    list-style-type: none;
    font-style: italic;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #F3D290;
}
.quote {
    flex-basis: 55%;
    text-align: center;
    color: #F1BF5B;
    background-color: #222933;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-left: 5%;
}
blockquote p {
    font-size: 1.5rem;
    margin-top: 2rem;
}
footer {
    text-align: center;
    background-color: #13171C;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
    color: #1B4758;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
    font-size: 2rem;
    padding: 0 0.3rem;
}
footer a {
    color: #1B4758;
}
footer a:hover {
    color: #F3D290;
}
#credit {
    font-size: 0.9rem;
}
#credit a {
    font-size: 1rem;
    color: #BF472C;
}
#credit a:hover {
    color: #802F1D;
}






