html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #F2E3D0;
}
header {
    width: 100%;
    height: 10rem;
}
.flex {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding-right: 5rem;
    background-color: #836D5E;
}
h1 {
    flex-basis: 50%;
    font-size: 2rem;
    padding: 2rem 3rem;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}
span {
    color: #802F1D;
}
.breeds {
    width: 180px;
    margin-left: 30%;
    padding: 0;
    margin-top: 2.2rem;
    margin-bottom: 2.2rem;
    justify-content: right;
    font-size: 1rem;
    background-color: #F2E3D0;
    border: 1px solid black;
    border-radius: 5px;
}
h2 {
    color: #BF472C;
}
a {
    color: #BF472C;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #BF472C;
    font-size: 1.2rem;
    display: block;
    padding: 1rem 4rem;
}
nav a:hover {
    color: #F2E3D0;
}
.doggos {
    padding-top: 0rem;
    padding-bottom: 6rem;
    text-align: center;
    font-size: 1.3rem;
}
.doggos p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
@keyframes spin {
    to {
        transform: rotateZ(360deg);
    }
}
.spinner {
    font-size: 80px;
    text-align: center;
    padding-top: 165px;
    padding-bottom: 168px;
    display: none;
    animation: 2s spin linear infinite;
}
.dog-img {
    display: none;
    height: 450px;
    border: 15px solid #F2E3D0;
    border-style: outset;
}
.show {
    display: block;
    margin: 0 auto;
}
footer {
    text-align: center;
    background-color: #13171C;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
    color: #836D5E;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
    font-size: 2rem;
    padding: 0 0.3rem;
}
footer a {
    color: #836D5E;
}
footer a:hover {
    color: #F2E3D0;
}
#credit {
    font-size: 0.9rem;
}
#credit a {
    font-size: 1rem;
    color: #BF472C;
}
#credit a:hover {
    color: #802F1D;
}