body {
    background-color: black;
    color: #BFB8AA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 43rem;
    margin: 0 auto;
}
h1 {
    color: #0D0D0D;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    padding: 1.3rem;
    background: url(https://i.imgur.com/4bxSZfv.jpg?1) no-repeat;
    border: solid #314259 10px;
}
blockquote {
    color: #F2C6A0;
}
.first-quote {
    width: 14rem;
    float: left;
    margin: 0 1rem 1rem 0;
}
.first-photo {
    float: left;
    margin: 0 1rem 0 0;
}
.second-photo {
    float: right;
    margin: 0 1rem 1rem 1rem
}
.third-photo {
    float: left;
    margin: 0 1rem 1rem 0
}
body:after {
    content: "";
    display: table;
    clear: both;
}
footer {
    color: #F2C6A0;
}
.highlight {
    color: #F2C6A0;
    font-weight: bold;
    float: left;
    width: 14rem;
    margin: 0 1rem 0 0;
}
#bold {
    font-weight: bold;
}
a:link {
    color: white;
}
a:hover, ol {
    color: #F2C6A0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
.home {
    margin-top: 2rem;
    text-align: center;
}
.home a {
    color: white;
    font-size: 1rem;
  }
.home a:hover {
    color: #F2C6A0;
}

