html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #F2E3D0;
}
h1 {
    background-color: #132133;
    font-size: 2rem;
    padding: 2rem;
    color: #F3D290;
}
h2, h3 {
    color: #F3D290;
}
h3 {
    padding-top: 0.4rem;
    margin-bottom: 2rem;
}
a {
    color: #BF472C;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
    margin-bottom: 1.5rem;
}
nav a {
    text-decoration: none;
    color: #BF472C;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 4rem;
}
nav a:hover {
    color: #F3D290;
}
.wrapper {
    width: 75%;
    margin: 0 auto;
    padding: 0 1em;
    display: flex;
    flex-flow: row nowrap;
}
section {
    flex-basis: 54%;
    margin-right:10%;
}
aside {
    flex-basis: 36%;
}
fieldset {
    border: none;
    padding-left: 0;
}
label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
input,textarea {
    display: block;
    margin-bottom: 1.5rem;
    border: none;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1em;
    padding: 0.2rem 0 0.2rem 0.5rem;
}
input {
    width: 100%;
}
textarea {
    height: 12rem;
    width: 100%;
}
button {
    margin-bottom: 3rem;
	background-color: black;
	color: #F2E3D0;
    border: 1px solid #F2E3D0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
}
button:hover {
    background-color: #F1BF5B;
    color: black;
    border: 1px solid #F1BF5B;
}
aside {
    margin: 0;
    padding: 0;
}
footer {
    text-align: center;
    background-color: #132133;
    padding: 1rem 0 2rem 0;
    font-weight: bold;
    color: #F3D290;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0 0.2rem;
}
footer a {
    color: #F3D290;
}
footer a:hover {
    color: #BF472C;
}