html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #F3D290;
}
header {
    width: 100%;
    height: 10rem;
}
h1 {
    background-color: #1C120E;
    font-size: 2rem;
    padding: 2rem 3rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #C97E67;
}
span {
    color: #8A5646;
}
.chapter-title {
    display: flex;
    flex-flow: row nowrap;
    border-top: 0.4rem solid #3D261F;
    border-bottom: 0.4rem solid #3D261F;
    padding: 1rem;
}
h2 {
    flex-basis: 57%;
    color: #F2C6A0;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-top: 1.5rem;
}
.first-photo {
    flex-basis: 35%;
    margin-left: 5%;
    margin-right: 3%;
    width: 6rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #C97E67;
    font-size: 1.2rem;
    display: block;
    padding: 1rem 4rem;
}
nav a:hover {
    color: #F2C6A0;
}
.content {
    color: #BFB8AA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 43rem;
    margin: 0 auto;
}
blockquote {
    color: #F2C6A0;
}
.first-quote {
    width: 14rem;
    float: left;
    margin: 0 1rem 1rem 0;
}
.second-photo {
    float: left;
    margin: 0.2rem 1.5rem 0 0;
}
.third-photo {
    float: right;
    margin: 0 0 1rem 1rem;
}
.fourth-photo {
    float: left;
    margin: 0.4rem 1rem 1rem 0;
}
.content:after {
    content: "";
    display: table;
    clear: both;
}
.credit {
    color: #F2C6A0;
}
a {
    color: #C97E67;
}
a:hover {
    color: #F2C6A0;
}
.highlight {
    color: #F2C6A0;
    font-weight: bold;
    float: left;
    width: 14rem;
    margin: 0 1rem 0 0;
}
#bold {
    font-weight: bold;
}
.markets {
    color: #F2C6A0;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
footer {
    text-align: center;
    background-color: #1C120E;
    padding: 1rem 0 1rem 0;
    margin-top: 1rem;
    font-weight: bold;
    color: #8A5646;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
    font-size: 2rem;
    padding: 0 0.3rem;
}
footer a {
    color: #8A5646;
    text-decoration: none;
}
footer a:hover {
    color: #C97E67;
}
#credit {
    font-size: 0.9rem;
}
#credit a {
    font-size: 1rem;
    color: #802F1D;
}
#credit a:hover {
    color: #C97E67;
}

