html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #B5BA91;
    font-size: 1rem;
}
header {
    width: 100%;
    height: 10rem;
}
.flex {
    display: flex;
    width: 100%
}
h1 {
    flex-basis: 10%;
    background-color: #13171C;
    font-size: 2rem;
    padding: 2rem 3rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #6B6E56;
}
span {
    color: #1B4758;;
}
a {
    color: #BF472C;
    text-decoration: none;
}
.main-nav {
    flex-basis: 90%;
    background-color: #13171C;
    margin: 0;
    padding-top: 1.2rem;
    position: relative;
    z-index: 5;
}
.brand {
    margin: 0;
    padding: 0;
    font-size: 50px;
    cursor: grab;
    cursor: -webkit-grab;
    z-index: 10;
    width: 6%;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #6B6E56;
    font-size: 1.2rem;
    display: block;
    padding: 1rem 4rem;
}
nav a:hover {
    color: #F3FAC3;
}
.swiper-container {
    padding-bottom: 3rem;
}
.swiper-slide {
    text-align: center;
}
img {
    height: 500px;
}
.info-blurb {
    font-size: 1.2rem;
    color: #F3FAC3;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-top: 2rem;
    line-height: 1.8rem;
}
.info-blurb a {
    color: #B38E44;
}
.info-blurb a:visited {
    color: #6B6E56;
}
.info-blurb a:hover {
    color: #525442;
}
.directions {
    text-align: center;
    font-size: 1.3rem;
    color: #B5BA91;
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}
footer {
    text-align: center;
    background-color: #13171C;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
    color: #1B4758;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
    font-size: 2rem;
    padding: 0 0.3rem;
}
footer a {
    color: #1B4758;
}
footer a:hover {
    color: #466673;
}
#credit {
    font-size: 0.9rem;
}
#credit a {
    font-size: 1rem;
    color: #6B6E56;
}
#credit a:hover {
    color: #525442
}
