html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #F2E3D0;
}
header {
    width: 100%;
    height: 10rem;
}
.flex {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
h1 {
    background-color: #13171C;
    font-size: 2rem;
    padding-left: 3rem;
    padding-top: 2rem;
    margin: 0;
    color: #FF4142;
}
.tip {
    background-color: #13171C;
    color: #B0DA64;
    margin: 0;
    padding-left: 3rem;
    padding-bottom: 1rem;
}
span {
    color: #155754;
}
a {
    color: #FF4142;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #FF4142;
    font-size: 1.2rem;
    display: block;
    padding: 1rem 4rem;
}
nav a:hover {
    color: #F3D290;
}
main {
    padding: 0;
    margin: 0;
    cursor: url(../images/game-cursor.png), default;
    background-color: #C0C86D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg {
    background-image: url(../images/game-background.png);
    background-repeat: no-repeat;
    width: 1920px;
    height: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hole {
    background-color: black;
    border-radius: 50%;
    overflow: visible;
    width: 267px;
    height: 267px;
}
.hole-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mole {
    position: relative;
    right: 30px;
}
.hungry {
    cursor: url(../images/game-cursor-worm.png), default;
}
.gone {
    display: none;
}
.hide {
    display: none;
}
.worm {
    width: 1660px;
}
.worm-container {
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}
.worm-box {
    width: 1660px;
}
footer {
    text-align: center;
    background-color: #13171C;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
    color: #155754;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
    font-size: 2rem;
    padding: 0 0.3rem;
}
footer a {
    color: #155754;
}
footer a:hover {
    color: #1B8067;
}
#credit {
    font-size: 0.9rem;
}
#credit a {
    font-size: 1rem;
    color: #FF4142;
}
#credit a:hover {
    color: #BA241D;
}
