html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #F2E3D0;
}
header {
    width: 100%;
    height: 10rem;
}
h1 {
    background-color: #13171C;
    font-size: 2rem;
    padding: 2rem 3rem;
    margin-top: 0;
    margin-bottom: 0;
    color: #BF472C;
}
span {
    color: #1B4758;
}
h2 {
    color: #F1BF5B;
    font-size: 2rem;
}
hr {
    width: 75%;
    border: 1.5px solid #BF472C;
}
a {
    color: #BF472C;
    text-decoration: none;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #BF472C;
    font-size: 1.2rem;
    display: block;
    padding: 1rem 4rem;
}
nav a:hover {
    color: #F3D290;
}
section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-image: url(../images/home-page-laurel-kelly2.jpg);
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
}
.left {
    flex-basis: 32.5%;
    margin-right: 5%;
    margin-left: 15%;
    text-align: center;
    padding: 2rem 2rem 3rem 2rem;
    background-color: #13171C;
    opacity: 0.9;
    border-radius: 10px;
}
.right {
    flex-basis: 32.5%;
    margin-right: 15%;
    text-align: center;
    padding: 2rem 2rem 3rem 2rem;
    background-color: #13171C;
    opacity: 0.9;
    border-radius: 10px;
}
div ul {
    list-style-type: none;
    margin-top: 2rem;
    padding: 0;
    text-align: center;
}
div li {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
}
div a {
    color: #F3D290;
}
div a:hover {
    color: #BF472C;
}
footer {
    text-align: center;
    background-color: #13171C;
    padding: 1rem 0 1rem 0;
    font-weight: bold;
    color: #1B4758;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
    font-size: 2rem;
    padding: 0 0.3rem;
}
footer a {
    color: #1B4758;
}
footer a:hover {
    color: #466673;
}
#credit {
    font-size: 0.9rem;
}
#credit a {
    font-size: 1rem;
    color: #BF472C;
}
#credit a:hover {
    color: #802F1D;
}






